<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pokemones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let pokemon of pokemons">
    <ion-card-header color="light">
      <ion-toolbar color="light">
        <ion-card-title>{{ pokemon.name }}</ion-card-title>

        <ion-buttons slot="end">
          <ion-button (click)="delete(pokemon.key)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
  
          <ion-button (click)="update(pokemon.key)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label>Tipo:</ion-label>
        <ion-badge slot="end" color="light">{{ pokemon.type }}</ion-badge>
      </ion-item>
      
      <ion-item>
        <ion-label>Zona:</ion-label>
        <ion-badge slot="end" color="light">{{ pokemon.zone }}</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>Generación:</ion-label>
        <ion-badge slot="end" color="light">{{ pokemon.generation }}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="create()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>